body {
	margin: 1rem;
}

main {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.ulInTable {
	margin: 0 0 0 0;
}

.col-bottom-gap .column {
	padding-bottom: 0.4rem;
}

.useLink {
	margin-right: .1rem;
}

.paginationSortCol {
	margin: .2rem 0;
	padding: .2rem 0;
}
