<ifmodule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^index(|/.*)$ - [L,R=404]

	RewriteRule ^site/query/robotFile https://www.portagefilelist.de/query.php [R=301,L,QSA]
	RewriteRule ^site/query/file https://www.portagefilelist.de/ [R=301,L,NC,QSA]
    RewriteRule ^site/query/listPackage https://www.portagefilelist.de/?p=packages [R=301,L,NC,QSA]

	#RewriteCond %{HTTP_HOST} !^www. [NC,OR]
	#RewriteCond %{HTTPS} off
	#RewriteRule (.*) https://www.portagefilelist.de%{REQUEST_URI} [R=301,L]
</ifmodule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 3 hours"

	ExpiresByType image/gif "access plus 1 month 1 hour"
	ExpiresByType image/jpg "access plus 1 month 1 hour"
	ExpiresByType image/jpeg "access plus 1 month 1 hour"
	ExpiresByType image/png "access plus 1 month 1 hour"

	ExpiresByType text/css "access plus 1 month 1 hour"
	ExpiresByType text/javascript "access plus 1 month 1 hour"
	ExpiresByType application/x-javascript "access plus 1 month 1 hour"
</IfModule>

<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
</IfModule>

php_value post_max_size 60M
php_value upload_max_filesize 50M
